##
## Copyright (c) 2020 BedRock Systems, Inc.
## This software is distributed under the terms of the BedRock Open-Source License.
## See the LICENSE-BedRock file in the repository root for details.
##

################################################
# This file configures the cpp2v CI/CD pipelines.
#
# There are two pipelines:
#
#   1. build_latest -> test_latest
#
#      This builds and tests cpp2v against the current
#      major version of llvm.
#      In fact, "latest" does not depend on the latest version, but on the main
#      supported one.
#
#   2. build_llvmX -> test_llvmX
#
#      This builds cpp2v against an alternate major
#      version of llvm - llvmX. It tests only the cpp2v
#      frontend.
#
# The build* jobs extend the .build template job.
# The test* jobs extend the .test template job.
#
# NOTE: If you need to change the base software in a
# container image used in a pipeline, first update
# Dockerfile and push a new image to the registry
# (see Dockerfile for more information).
################################################

variables:
  LLVM_CUR_MAJ_VER: "13"
  docker_img_prefix: registry.gitlab.com/bedrocksystems/docker-image
  fm_docs_img: ${docker_img_prefix}:fm-docs
  img_prefix: cpp2v-llvm

# Configs
.base:
  image: ${docker_img_prefix}:${img_prefix}${LLVM_MAJ_VER}

.latest:
  extends: .base
  variables:
    LLVM_MAJ_VER: ${LLVM_CUR_MAJ_VER}

.llvm10:
  extends: .base
  variables:
    LLVM_MAJ_VER: 10

.public:
  extends: .base
  variables:
    img_prefix: cpp2v-public-llvm
    LLVM_MAJ_VER: 13

stages:
  - dune-build


dune-build:
  extends: .latest
  stage: dune-build
  script:
    # Create Directory structure for dune
    - mkdir -p /tmp/build-dir/fmdeps/ && cp -ra $CI_PROJECT_DIR /tmp/build-dir/fmdeps/
    - mkdir -p ~/.cache/
    - mv $CI_PROJECT_DIR/_cache_dune ~/.cache/dune || true
    - cd /tmp/build-dir/
    - egrep -v '^;' fmdeps/cpp2v-core/dune-project.template > dune-project # Create dune_project file
    - ln -sf fmdeps/cpp2v-core/coq-cpp2v-bin.opam coq-cpp2v-bin.opam
    - echo $DUNE_CACHE_ROOT
    - dune build --cache=enabled --display short 
    - rm -rf $CI_PROJECT_DIR/_cache_dune || true  
    - mv ~/.cache/dune $CI_PROJECT_DIR/_cache_dune
    - du -sh $CI_PROJECT_DIR/_cache_dune  # cache size
  cache:
    paths:
      - _cache_dune
    key: "$CI_JOB_NAME"
  tags:
    - fm.shared
